@model Dominio.Planta

@{
    ViewData["Title"] = "Visualizar";
}
<h1>Visualizar</h1>
<div>
    <h4>Planta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            <img class="img-thumbnail" src="~/imagenes/fotos/@Model.FotoPlanta" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListarPlanta">Volver</a>
</div>
