
@{
    ViewData["Title"] = "Error";
}

<div class="form-group">
    <h2>Ha ocurrido un error</h2>
</div>
<div class="form-group">
    <p>No se pudo dar de alta el tipo de planta. Te recuerdo que debe ser nombre único y solo caracteres alfabeticos</p>
</div>
<div class="form-group">
    <a asp-action="Index">Volver</a>

</div>
